version: "3.9"

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - mysql
      - mongo
    environment:
      DATABASE_URL: "mysql://root:root@mysql:3306/college_db"
      MONGO_URL: "mongodb://mongo:27017/college_progress"

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: college_db
    ports:
      - "3306:3306"

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
